/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem; /* Adds padding when scrolling to sections */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
  transition: all 0.5s ease;
}

.main-container {
  height: 100vh; /* Full height for the main container */
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-behavior: smooth;
}

/* Section transitions */
section {
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

section.active {
  opacity: 1;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(10, 10, 20, 0.9); /* Dark deep space background for the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 14, 28, 0.8); /* Navy blue color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(16, 14, 28, 0.8); /* Darker navy blue on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: rgba(16, 14, 28, 0.8) rgba(10, 10, 20, 0.9); /* Thumb color and track color */
}